* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: helvetica, sans-serif;
}

header {

}

h1 {
    font-size: 60px;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

h4 {
    margin: 0;
}

main {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgrey;
} 

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url(./img/grid.png);
    background-size: cover;
    border-radius: 0;
    gap: 8px;
}

.top-panel {
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.topleft {
    width: 100px;
    height: 75px;
    text-align: center;
}

.topright {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    
}
.topright .turn-indicator {
    width: 50px;
    height: 50px;
}
.bottom-panel {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.restart-button {
    width: 75px;
    height: 50px;
    border: none;
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 15px;
    

}
.restart-button:hover {
    background-color: white;
    color: black;
}

.bottom-panel .bottom-middle {
    height: 50px;
    width: 150px;

}

.bottom-panel .bottom-right {
    width: 75px;
    height: 50px;
}

 .cellX {
     background-image: url(./img/x.png);
     background-size: 80%;
     background-position: center;
     background-repeat: no-repeat;
 }
 .cellO {
    background-image: url(./img/o.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
 }

 /* ADDITIONAL CONTENT:
 Create a setup for mobile viewing */
