* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 15px;
    margin: 0;
}

main {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgrey;
} 

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* background-image: url(./img/grid.png); */
    background-size: cover;
    outline-width: 5px;
    outline-style: solid;
    outline-color: lightgrey;
    outline-offset: -5px;
    /* gap: 8px; */
}

#cell {
    border: 3px solid black;
}

.top-panel {
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.topleft {
    width: 100px;
    height: 75px;
    text-align: center;
}

.topmiddle {
    width: 100px;
    text-align: center;
}

.topright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 75px;
    text-align: center;
    
}
.topright .turn-indicator {
    width: 50px;
    height: 50px;
}
.bottom-panel {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.restart-button {
    width: 75px;
    height: 50px;
    border: none;
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 15px;
}

.restart-button:hover {
    background-color: white;
    color: black;
}

.bottom-panel .bottom-middle {
    height: 50px;
    width: 150px;

}

.bottom-panel .bottom-right {
    width: 75px;
    height: 50px;
}

.nextmatch-button {
    width: 75px;
    height: 50px;
    border: none;
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 15px;
}

.nextmatch-button:hover {
    background-color: white;
    color: black;
}


/* X markers on the board and turn indicator */
 .cellX {
     background-image: url(./img/x.png);
     background-size: 80%;
     background-position: center;
     background-repeat: no-repeat;
 }

 /* O markers on the board and turn indicator */
 .cellO {
    background-image: url(./img/o.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
 }

 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 /* ADDITIONAL CONTENT:
 Create a setup for mobile viewing */
